body.seeds-root,
body {
  &.advanced-sidebar-tray-toggled {
    margin-left: 400px;
    margin-right: 0;

    .content-form__advanced {
      transform: translate3d(100%, 0, 0);
    }
  }

  .content-form__advanced {
    right: 100%;
    left: 0;
  }

  .form-actions {
    >* {
      margin-right: 0;
      margin-left: 1em;
      float: right;
    }
  }

  .form-edit {
    .form-actions {
      margin-top: 1rem;
      padding: 0;
      border: none;
      background-color: #e1e2dc;

       #edit-actions-submit {
        margin-right: 1rem;
      }
    }
  }
  
  // select list
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
      background: url(../images/caret-down.svg) no-repeat 2% 64% $white;
    }

    select:focus,
    select:hover {
      background: url(../images/caret-down.svg) no-repeat 2% 64% $white;
    }
  }
}

@media (max-width: 767px) {

  body.seeds-root,
  body {
    &.advanced-sidebar-tray-toggled {
      margin-left: 0px;
    }
  }
}
